{%- comment -%}
Render talks for a given year.

Parameters:
- year: required (e.g. "2026")
- reversed: true|false (optional)
- start: integer (optional)
{%- endcomment -%}

{%- assign year = include.year -%}
{%- assign reversed = include.reversed | default: false -%}
{%- assign start_attr = include.start -%}

<h3>{{ year }}</h3>

<div class="container">
    <ol{% if reversed %} reversed{% endif %}{% if start_attr %} start="{{ start_attr }}" {% endif %}>

        {% for pub in site.data.research_talks %}
        {% if pub.year == year %}

        <li>
            <strong>{{ pub.date }}, {{ pub.year }}</strong> — {{ pub.description }}

            {% if pub.event %}
            at the
            {% if pub.url %}
            <a href="{{ pub.url }}" target="_blank" rel="noopener">{{ pub.event }}</a>,
            {% else %}
            {{ pub.event }},
            {% endif %}
            {% if pub.location %}
            {{ pub.location }}.
            {% endif %}
            {% else %}
            {% if pub.location %}
            at the
            {% if pub.url %}
            <a href="{{ pub.url }}" target="_blank" rel="noopener">{{ pub.location }}</a>.
            {% else %}
            {{ pub.location }}.
            {% endif %}
            {% endif %}

            {% if pub.tags contains "invited" %}
            <span class="badge badge-primary">Invited</span>
            {% endif %}

            {% if pub.title %}
            {% if pub.tags contains "pdf" %}
            {% include download-box.html file="/assets/files/presentations/{{ pub.pdf_title }}.pdf" title="<em>{{
                pub.title }}</em>" icon="pdf"%}
            {% else %}
            <br>
            <em>Talk title:</em> "{{ pub.title }}"
            {% endif %}

            {% if pub.tags contains "youtube_video" %}
            {% include youtube.html id=pub.video_id title=pub.video_title %}
            {% endif %}
        </li>

        {% endif %}
        {% endfor %}

        </ol>
</div>