{%- comment -%}
Render talks for a given year.

Parameters:
- year: required (e.g. "2026")
- reversed: true|false (optional)
- start: integer (optional)
{%- endcomment -%}

{%- assign year = include.year -%}
{%- assign reversed = include.reversed | default: false -%}
{%- assign start_attr = include.start -%}

<h3>{{ year }}</h3>

<div class="container">
    <ol{% if reversed==true or reversed=="true" %} reversed{% endif %}{% if start_attr %} start="{{ start_attr }}" {%
        endif %}>

        {% for pub in site.data.research_talks %}

        {% if pub.year == year %}

        <li>
            <strong>{{ pub.date }}, {{ pub.year }}</strong> — {{ pub.description }}

            {% if pub.event %}
            at the
            {% if pub.url %}
            <a href="{{ pub.url }}" target="_blank" rel="noopener">{{ pub.event }}</a>,
            {% else %}
            {{ pub.event }},
            {% endif %}
            {% endif %}

            {% if pub.location %}
            {{ pub.location }}.
            {% endif %}


            {% if pub.tags contains "invited" %}
            <span class="badge badge-primary">Invited</span>
            {% endif %}


            {% if pub.title %}

            {% capture talk_title %}
            <em>{{ pub.title }}</em>
            {% endcapture %}

            {% if pub.tags contains "pdf" %}
            {% capture pdf_file %}
            "{{ pub.pdf_title }}.pdf"
            {% endcapture %}

            {% include download-box.html
            file=pdf_file
            title=talk_title
            icon="pdf"
            %}

            {% else %}

            <br>
            <em>Talk title:</em> "{{ pub.title }}"

            {% endif %}

            {% endif %}

            {% if pub.tags contains "youtube_video" %}
            {% include youtube.html id=pub.video_id title=pub.video_title %}
            {% endif %}

        </li>

        {% endif %}

        {% endfor %}

        </ol>
</div>