{%- comment -%}
Include to render talks filtered by year.

Parameters:
- year: the year to filter by (required)
- reversed: true|false
- start: integer (optional) - the start attribute to pass to the <ol>
    - title: optional string - render an <h3> above the list
        {%- endcomment -%}

        {%- assign year = include.year -%}
        {%- assign reversed = include.reversed | default: false -%}
        {%- assign start_attr = include.start -%}

        {%- comment -%} collect matching talks into an array {%- endcomment -%}
        {%- assign matches = "" | split: "," -%}

        {%- for pub in site.data.research_talks -%}
        {%- if pub.year -%}
        {%- for t in pub.year -%}
        {%- if t == year -%}
        {%- assign matches = matches | push: pub -%}
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
        {%- endfor -%}

        {%- if include.year -%}
        <h3>{{ include.year }}</h3>
        {%- endif -%}

        {%- capture ol_attrs -%}
        {%- if reversed == true or reversed == "true" -%} reversed {% endif %}
        {%- if start_attr and start_attr != 0 -%} start="{{ start_attr }}"{%- endif -%}
        {%- endcapture -%}

        <div class="container">
            <ol{% if ol_attrs !="" %} {{ ol_attrs }}{% endif %}>
                {% for pub in matches %}
                <li>
                    <strong>{{ pub.date }}</strong> - {{ pub.description }}

                    {% if pub.event %}
                    at the {% if pub.url %}
                    <a href="{{ pub.url }}" target="_blank" rel="noopener">{{ pub.event }}.</a>
                    {% else %}
                    {{ pub.event }}.
                    {% endif %}
                    {% endif %}

                    {% if pub.location %}
                    {{ pub.location }}.
                    {% endif %}

                    {% if pub.tag and pub.tag contains "invited" %}
                    <span class="badge badge-primary">Invited</span>
                    {% endif %}

                    {% if pub.title %}
                    <br><em>Talk title:</em> "{{ pub.title }}"
                    {% endif %}

                    {% if pub.tag and pub.tag contains "youtube_video" %}
                    {% include youtube.html id=pub.video_id title=pub.video_title %}
                    {% endif %}
                </li>
                {% endfor %}
</ol>
</div>